#display {
  text-align: center;
  font-size: xx-large;
  margin: 2rem auto;
  font-weight: bold;
  color: burlywood;
  width: 300px;
  line-height: 30px;
}

.drums {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-width: 75vw;
  min-width: 200px;
  width: 100%;
}

.drums button {
  width: 30%;
}
